@import '~bootstrap/scss/functions';

// custom colors
$primary: #845ec2;
$secondary: #b39cd0;
$success: #00c9a7;
$info: #78deee;
$danger: #e784ff;
$light: #eef2f6;

// spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
      $spacer * 2,
  ),
  6: (
    $spacer * 3,
  ),
  7: (
    $spacer * 4,
  ),
  8: (
    $spacer * 5,
  ),
  9: (
    $spacer * 6,
  ),
);

@import '~bootstrap/scss/bootstrap';

// 結合原本的 theme colors
// $theme-colors: map-merge($theme-colors, $custom-colors);

@import './custom'