.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-lg {
  width: 1.5rem !important;
  height: 1.5rem !important;
  &:hover {
    filter: brightness(90%);
  }
}

.bg-cover {
  background-size: cover;
}

.font-mono {
  font-family: monospace !important;
}

.text-lg {
  font-size: 1.5rem !important;
}

.text-md {
  font-size: 1.2rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

.show {
  display: block !important;
}

// z-index
.z-100 {
  z-index: 100;
}

.z-200 {
  z-index: 200;
}

.z-300 {
  z-index: 300;
}

.z-900 {
  z-index: 900;
}

.z-1000 {
  z-index: 1000;
}

// vue transition
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s linear;
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translateY(110%);
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.3s linear;
}

.slide-down-enter,
.slide-down-leave-to {
  transform: translateY(-110%);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.3s linear;
}

.slide-right-enter,
.slide-right-leave-to {
  transform: translateX(-110%);
}
